/* Default for larger screens */
.logo-img{
    min-width: 180px;
    height:80px;
   
    object-fit: cover;
  }
  
  /* Tablets and small laptops */
  @media (max-width: 992px) {
    .logo-img {
      max-width: 250px !important;
      max-height: 20px;
    }
  }
  
  /* Mobile devices */
  @media (max-width: 768px) {
    .logo-img {
      max-width: 300px !important;
      max-height: 20px;
    }
  }
  
  /* Smaller mobile devices */
  @media (max-width: 576px) {
    .logo-img {
      max-width: 250px !important;
      max-height: 80%;
    }
  }
  
  /* Extra small screens */
  @media (max-width: 400px) {
    .logo-img {
      max-width: 150px !important;
      max-height: 80%;
    }
  }
  